.container{
    height: 100px;
    padding: 0px 50px;
    background-color: #d1411e;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position:sticky;
    top:0;
    z-index: 999;
    scroll-behavior: smooth;
}

.item{
    flex:1;
    display: flex;
    align-items: center;
}

.item:nth-child(2){
    flex: 1;
}

.item:last-child{
    justify-content: flex-end;
}
.callButton{
    background-color: white;
    border-radius: 50%;
    padding: 10px;
    width: 50px;
    height: 50px;
}

.texts{
    margin-left: 20px;
    color: white;
}

.text:first-child{
    font-size: 12px;
    font-weight: 500;
}

.text:last-child{
    font-size: 20px;
    font-weight: bold;
}

.list{
    padding: 0;
    display: flex;
    align-items: center;
    list-style: none;
    color: white;
}

.listItem{
    margin: 20px;
    font-weight: 500;
    cursor: pointer;
}

.cart{
    position: relative;
}

.counter{
    position: absolute;
    top:-10px;
    right:-10px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: white;
    padding: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: #d1411e;
}

.hamburger {
    display: none;
    width: 25px;
    height: 20px;
    cursor: pointer;
  }

  .line {
    width: 100%;
    height: 3px;
    background-color: white;
  }

  .menu
  {  display: none;
    position: fixed;
    width: 50vw;
    height: calc(100vh - 50px);
    background-color:#d1411e;
    top: 50px;
    /* right: 0px; */
    z-index: 9999;
    /* margin: 0; */
    padding: 0;
    font-weight: bold;
    color: white;
    list-style: none;
    transition: all 1s ease;
}

@media screen and (max-width:480px) {
    .item:nth-child(2) {
      display: none;
    }
  
    .item:nth-child(1) {
      flex: 3;
    }

    .hamburger {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
      }
      .menu {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
      }
    }
  